* {
    margin: 0;
    padding: 0;
    border: none;
}

/* remember to set google font-family and correct colors*/ 

body {
    font-family: Arial;
    background-color: #b4c5e0;
    color: blue;
}

/* Header and links */

#header-logo {
    float: left;
    font-size: 200%;
    font-family: #;
    margin-left: 30px; 
    padding-top: 20px;
    color: inherit;
    letter-spacing: 4px;
}

#header-logo:hover {
    color: green;
}

#navbar {
    float:right;
}

#menu {
    font-size: 120%;
    letter-spacing: 5px;   
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    float: right;
}

#menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid green;
    color: green;
}

/* hero image */

#hero-margins {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position:relative;
}

#hero-image {
    height: ;
    width: ;
    background: url('#') no-repeat center center;
}

/* cover text */

#book-now {
    font-size: 130%;
    font-family: 
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}