/* Font from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Lato:wght@300&display=swap')

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    background-color: #efead8;
    color: #6d8b74;
}

h1, h2, h3 {
    font-family: Domine, serif;
}

/* Header and links */

.header-logo {
    float: left;
    font-size: 200%;
    letter-spacing: 3px;
    margin-left: 30px; 
    color: #6d8b74;
}

.header-logo:hover {
    color: #5f7161;
}

.navbar {
    float:right;
}

.menu {
    font-size: 120%;
    letter-spacing: 5px;   
}

.menu, .logo {
    line-height: 75px;
}

.menu ul {
    float: right;
}

.menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #5f7161;
    color: #5f7161;
}

/* hero image */

.hero-margins {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.hero-image {
    height: 500px;
    width: 98%;
    background: url('../images/pexels-jonathan-petersson-421759.jpg') no-repeat center center;
    margin: 0 auto;
    object-fit: fill;
    border-radius: 5px;
    
}

/* Book now cover text */

#book-now {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: center;
    width: 400px;
    height: 200px;
    color: #efead8;

    border-radius: 5px;

    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;

    background-color: rgba(95, 113, 97, .5);

    bottom: 25%;
    left: 50px;

    position: absolute;
}

#book-now h2 a {
    
    font-size: 300%;
    color: #efead8;
}

#book-now h2 a:hover {
    color: #d0c9c0;
}

/* hotel info */

.information {
    width: 100%;
    height: 500px;
}

.hotel-info {
    float: left;
    font-size: 100%;
    letter-spacing: 2px;
    width: 35%;
    height: 390px;
    color: #efead8;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 5px;

    padding: 50px 30px 0 30px;

    background-color: rgba(95, 113, 97, .4);
}

.hotel-info h2 {
    font-size: 150%;
}

.hotel-info h3 {
    padding-top: 30px;
}

.terrace-info img {
    float: right;
    width: 58%;
    height: 440px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 5px;
}
/*
.terrace-info h3 {
    font-size: 200%;
    letter-spacing: 2px;
    width: 35%;
    height: 100px;
    color: #efead8;
    margin-top: 50px;
    margin-right: 30px;

    border-radius: 5px;

    padding: 20px 0 0 30px;

    background-color: rgba(95, 113, 97, .4);

    right: 19px;

    position: absolute;
}

.terrace-info a {
    text-decoration: none;
    color: inherit;
}

.terrace-info a:hover {
    color: #d0c9c0;
}
*/

/* contact information */

.bottom-section {
    width: 100%;
    height: 300px;
}

.contact-info {
    text-align: center;
    margin-top: 30px;
}

.contact-info p {
    letter-spacing: 2px;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    background-color: #d0c9c0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #5f7161;
    border-radius: 5px;
}

footer p {
    text-align: center;
    letter-spacing: 2px;
}

.social-media {
    text-align: center;
    font-size: 250%;
}

.social-media li {
    display: inline;
    padding: 0 10px 0 10px;
}

.social-media i {
    color: #5f7161;
}

.social-media i:hover {
    color:#6d8b74
}

/* Booking form */

#form {
    letter-spacing: 2px;
    color: #5f7161;
    line-height: 20px;
    height: 800px;
    width: 800px;
    padding: 50px;
    margin: 0 auto;
    background-color: rgba(95, 113, 97, .2);
    border-radius: 5px;

    clear: both;

    position: relative;
}

.booking-form {
    display: inline-table;
    
}

.text-input {
    display: block;
}

/* Thank you reply */

.reply {
    letter-spacing: 2px;
    text-align: justify center;
    color: #5f7161;
    line-height: 20px;
    height: 100px;
    width: 500px;
    padding: 50px;
    margin: 0 auto;
    background-color: rgba(95, 113, 97, .2);
    border-radius: 5px;

    clear: both;

    position: relative;
}

.thanks {
    display: inline-block;
}

.thanks h1 {
    font-style: italic;
}

/* restaurant */

#restaurant {
letter-spacing: 2px;
color: #5f7161;
line-height: 20px;
height: 600px;
width: 80%;
padding: 50px;
margin: 0 auto;
background-color: rgba(95, 113, 97, .2);
border-radius: 5px;
margin-bottom: 20px;

clear: both;

position: relative;
}

.restaurant {
    display: inline-block;
    text-align: justify;
}

/* rooms */

#room {
    letter-spacing: 2px;
    color: #5f7161;
    line-height: 20px;
    height: 600px;
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    background-color: rgba(95, 113, 97, .2);
    border-radius: 5px;
    margin-bottom: 20px;
    
    clear: both;
    
    position: relative;
    }
    
    #room div {
        display: inline-block;
        text-align: center;
        color: #5f7161;
        width: 33%;
        height: 600px;
        padding-top: 20px;
        border: 4px solid #d0c9c0;
        border-radius: 5px;
        box-sizing: border-box;
    } 

    /* spa */

    #spa {
        letter-spacing: 2px;
        color: #5f7161;
        line-height: 20px;
        height: 600px;
        width: 80%;
        padding: 50px;
        margin: 0 auto;
        background-color: rgba(95, 113, 97, .2);
        border-radius: 5px;
        margin-bottom: 20px;
        
        clear: both;
        
        position: relative;
        }
        
        .spa {
            display: inline-block;
            text-align: justify;
        }